<%= form_with(url: "/sessions", method: "POST") do |f| %>

    <%= f.label :email, "User E-mail" %><br>
    <%= f.email_field :email, placeholder: "Enter your e-mail" %><br>

    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password, placeholder: "Enter your password" %><br>

    <%= f.submit "Log In"%>

<% end %>

<% if flash[:user_errors] %>
    <% flash[:user_errors].uniq.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
<% end %>
