
<%= content_tag(:section, "", id: "main") do %>
      <%= image_tag("logos/triangles.svg", id: "triangle1")%>
      <%= content_tag(:div, "", id: "main-title") do %>
        <%= content_tag(:p, "YOUR", class: "title-21")%>
        <%= content_tag(:p, "CART", class: "title-1")%>
      <% end %>
      <%= image_tag("logos/triangles.svg", id: "triangle2")%>
<% end %>

<%= content_tag(:section, "", class: "shoes-list-container") do %>
    <% if !current_user.cart || @cart.empty? %>
            <%= content_tag(:p, "Your cart is empty!", class: "cart-empty") %>
            <%= link_to("Click here to shop!", shoes_path, class: "click-shop") %>
    <% else %>
        <% @cart.each do |shoe| %>
            <%= content_tag(:div, "", class: "cart-item-container") do %>
                <%= image_tag(Shoe.find_by(id: shoe.shoe_id).pic_url, class: "split1")%>
                <%= content_tag(:div, "", class: "split2") do %>
                    <%= content_tag(:p, Shoe.find_by(id: shoe.shoe_id).brand, class: "brand-tag") %>
                    <%= content_tag(:p, Shoe.find_by(id: shoe.shoe_id).model.upcase, class: "model-tag") %>
                    <%= content_tag(:p, "Size: #{Size.find_by(id: shoe.size_id).shoe_size}", class: "model-tag")%>
                    <%= content_tag(:p, "$#{Shoe.find_by(id: shoe.shoe_id).price}", class: "price-tag") %>
                <% end %>
                <form class="delete-form" onsubmit="deleteShoe()">
                    <%= hidden_field_tag  "id", Shoe.find_by(id: shoe.shoe_id).id, class: "Shoe.find_by(id: shoe.shoe_id)-id" %>
                    <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
                    <button type="submit" class="button-pic">
                        <%= image_tag("logos/delete", class: "delete")%>
                    </button>
                </form>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<%= content_tag(:section,"", id: "order") do %>
    <%= content_tag(:p, "TOTAL", class: "total") %>
    <%= content_tag(:p, "$#{@total}", id: "total-amount") %>
<% end %>


<script>
    function deleteShoe() {
        event.preventDefault()
        const url = "/users/<%= current_user.id %>/cart"
          fetch(url, {
              method : "DELETE",
              body : JSON.stringify({
                  shoeId : event.target.id.value
              })
          });

          let price = event.target.parentNode.childNodes[3].childNodes[7].innerText
          price = price.replace("$", "")
          price = parseInt(price)
          let totalElement = document.getElementById("total-amount")
          let total = totalElement.innerText.replace("$", "")
          total = parseInt(total)
          totalElement.innerText = `$${total - price}`


          let cartItems = document.getElementById("cart-items");
          cartItems.innerText = parseInt(cartItems.innerText) - 1;

          let container = event.target.parentNode;
          event.target.parentNode.parentNode.removeChild(container);

          if (parseInt(cartItems.innerText) == 0) {
            console.log("test")
            let g = document.createElement('p');
            g.setAttribute("class", "cart-empty");
            g.innerText = "Your cart is empty!"

            let a = document.createElement('a');
            a.setAttribute("class", "click-shop");
            a.setAttribute("href", "/shoes");
            a.innerText = "Click here to shop!"

            let container = document.getElementsByClassName("shoes-list-container")[0];
            container.appendChild(g);
            container.appendChild(a);
          } 
    }
</script>
