

 <section id="main">
      <%= image_tag("logos/triangles", id: "triangle1")%>
      <div id="main-title">
        <p class="title-21">ALPHA</p>
        <p class="title-1">PRODUCTS</p>
      </div>
      <%= image_tag("logos/triangles", id: "triangle2")%>
    </section>

    <div id="order2">
      <p id="low" onclick = "descend()">Price low</p>
      <p id="high" onclick = "ascend()">Price high</p>
    </div>

    <section class="shoes-list-container" id="original">
        <% @shoes.each do |shoe| %>
            <div class="shoe-container">
                <%= image_tag(shoe.pic_url, class: "container-img")%>
                <%= content_tag(:p, shoe.brand, class: "brand-tag") %>
                <%= content_tag(:p, shoe.model.upcase, class: "model-tag") %>
                <%= content_tag(:p, "$#{shoe.price}", class: "price-tag") %>
                

              <form class="add" onsubmit="addToCart()">
                  <%= number_field_tag 'size', nil, within: 6...13, placeholder: "Select size:", class: "shoe-size", required: true %>
                  <%= hidden_field_tag  "id", shoe.id, class: "shoe-id" %>
                  <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
                  <%= submit_tag "Add to cart", class: "add-cart"%>
              </form>

                <%= link_to "Details", shoe_path(shoe), class: "shoe-details"  %>
            </div>
        <% end %>
    </section>

    <section class="shoes-list-container ascend" id="ascend">
        <% @shoes_asc.each do |shoe| %>
            <div class="shoe-container">
                <%= image_tag(shoe.pic_url, class: "container-img")%>
                <%= content_tag(:p, shoe.brand, class: "brand-tag") %>
                <%= content_tag(:p, shoe.model.upcase, class: "model-tag") %>
                <%= content_tag(:p, "$#{shoe.price}", class: "price-tag") %>
                

              <form class="add" onsubmit="addToCart()">
                  <%= number_field_tag 'size', nil, within: 6...13, placeholder: "Select size:", class: "shoe-size", required: true %>
                  <%= hidden_field_tag  "id", shoe.id, class: "shoe-id" %>
                  <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
                  <%= submit_tag "Add to cart", class: "add-cart"%>
              </form>

                <%= link_to "Details", shoe_path(shoe), class: "shoe-details"  %>
            </div>
        <% end %>
    </section>

    <section class="shoes-list-container descend" id="descend">
        <% @shoes_desc.each do |shoe| %>
            <div class="shoe-container">
                <%= image_tag(shoe.pic_url, class: "container-img")%>
                <%= content_tag(:p, shoe.brand, class: "brand-tag") %>
                <%= content_tag(:p, shoe.model.upcase, class: "model-tag") %>
                <%= content_tag(:p, "$#{shoe.price}", class: "price-tag") %>
                

              <form class="add" onsubmit="addToCart()">
                  <%= number_field_tag 'size', nil, within: 6...13, placeholder: "Select size:", class: "shoe-size", required: true %>
                  <%= hidden_field_tag  "id", shoe.id, class: "shoe-id" %>
                  <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
                  <%= submit_tag "Add to cart", class: "add-cart"%>
              </form>

                <%= link_to "Details", shoe_path(shoe), class: "shoe-details"  %>
            </div>
        <% end %>
    </section>

    <script>
      function addToCart() {
        event.preventDefault()
        const url = "/users/<%= current_user.id %>/cart"
          fetch(url, {
              method : "POST",
              body : JSON.stringify({
                  shoeSize : event.target.size.value,
                  shoeId : event.target.id.value
              })
          });
          let cartItems = document.getElementById("cart-items");
           if (cartItems.innerText === "") {
             cartItems.innerText = 0;           
             };
          cartItems.innerText = parseInt(cartItems.innerText) + 1;
          let a = Array.from(document.getElementsByClassName("shoe-size"))
          for(x of a) { x.placeholder = "Select size:", x.value = ""}
      }; 

      function ascend() {
        let original = document.getElementById("original")
        let listDescend = document.getElementById("descend");
        let listAscend = document.getElementById("ascend");
        original.style.display = "none";
        listAscend.style.display = "none"
        listDescend.style.display = "block";
      }

      function descend() {
        let original = document.getElementById("original")
        let listAscend = document.getElementById("ascend");
        let listDescend = document.getElementById("descend");
        listDescend.style.display = "none";
        original.style.display = "none";
        listAscend.style.display = "block";
      }
      </script>

   