 <section id="main">
      <%= image_tag("logos/triangles", id: "triangle1")%>
      <div id="main-title">
        <p class="title-21">ALPHA</p>
        <p class="title-1">PRODUCTS</p>
      </div>
      <%= image_tag("logos/triangles", id: "triangle2")%>
    </section>

    <section id="shoes-list-container">
        <% @shoes.each do |shoe| %>
            <div class="shoe-container">
                <%= image_tag(shoe.pic_url, class: "container-img")%>
                <%= content_tag(:p, shoe.brand, class: "brand-tag") %>
                <%= content_tag(:p, shoe.model.upcase, class: "model-tag") %>
                <%= content_tag(:p, "$#{shoe.price}", class: "price-tag") %>
                

              <form class="add" onsubmit="addToCart()">
                  <%= number_field_tag 'size', nil, within: 6...13, placeholder: "Select size:", class: "shoe-size", required: true %>
                  <%= hidden_field_tag  "id", shoe.id, class: "shoe-id" %>
                  <div id="addHere"></div>
                  <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
                  <%= submit_tag "Add to cart", class: "add-cart"%>
              </form>

                <%= link_to "Details", shoe_path(shoe), class: "shoe-details"  %>
            </div>
        <% end %>
    </section>

    <script>
      function addToCart() {
        event.preventDefault()
        const url = "/users/<%= current_user.id %>/cart"
          fetch(url, {
              method : "POST",
              body : JSON.stringify({
                  shoeSize : event.target.size.value,
                  shoeId : event.target.id.value
              })
          });
          let cartItems = document.getElementById("cart-items");
          cartItems.innerText = parseInt(cartItems.innerText) + 1;
      }; 
      </script>