 <section id="main">
      <%= image_tag("logos/triangles", id: "triangle1")%>
      <div id="main-title">
        <p class="title-21">ALPHA</p>
        <p class="title-1">PRODUCTS</p>
      </div>
      <%= image_tag("logos/triangles", id: "triangle2")%>
    </section>

    <section id="shoes-container">
        <% @shoes.each do |shoe| %>
            <div class="shoe-container">
                <%= image_tag(shoe.pic_url, class: "container-img")%>
                <%= content_tag(:p, shoe.brand, class: "brand-tag") %>
                <%= content_tag(:p, shoe.model.upcase, class: "model-tag") %>
                <%= content_tag(:p, shoe.price, class: "price-tag") %>
            </div>
        <% end %>
    </section>