<!DOCTYPE html>
<html>
  <head>
    <title>AlphaShoes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap"%>
  </head>

<div class="overlay">
        <%= image_tag("logos/cross-icon.svg", id: "close-menu")%>
        <ul>
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/">ORDERS</a></li>
            <li id="projects"><a href="/shoes">PRODUCTS</a></li>
            <% if logged_in? %>
              <li id="contact"><a href="/users/logout">LOG OUT</a></li>
            <% else %>
              <li id="contact"><a href="/users/login">LOG IN</a></li>
            <% end %>
        </ul>
  </div>

  <header>
    <nav>
      <ul id="nav-bar">
        <li>
            <%= image_tag("logos/hamburger.svg", id: "overlay-hamburger")%>
        </li>
        <li>
          <%= link_to "HOME", "/", class: "nav-link" %>
        </li>
        <li>
          <%= link_to "PRODUCTS", "/shoes", class: "nav-link" %>
        </li>
        <li>
          <%= link_to "ORDERS", "/", class: "nav-link" %>
        </li>
        <li>
          <% if current_user%>
            <%= link_to "LOGOUT", "/users/logout", class: "nav-link" %>
          <% else %>
            <%= link_to "LOGIN", "/users/login", class: "nav-link" %>
          <% end %>
        </li>
        <% if logged_in? %>
          <li id="logo-container">
            <div id="cart-container">
              <%= image_tag("logos/shopping-cart.svg", id: "shoppingcart")%>
              <%= content_tag(:p, cart_items, id: "cart-items") %>
            </div>
            <div>
              <%= image_tag("logos/user.svg", id: "user-logo")%>
              <% if current_user.detail %>
                <p id="user-name"><%= current_user.detail.full_name %></p>
              <% end %>
            </div>
          </li>
        <% else %>
        <li id="logo-container">
          <div>
            <p id="logo-title">ALPHA</p>
            <p id="logo-desc">SHOES</p>
          </div>
        </li>
        <% end %>
      </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
    <footer>
      <ul id="footer">
        <li id="footer-left">ALL RIGHTS RESERVED</li>
        <li id="footer-right">ALPHA SHOES 2020</li>
      </ul>
    </footer>
  </body>

  <script>
    /* Mobile screen menu function*/

      const openMenu = document.getElementById("overlay-hamburger");
      const closeMenu = document.getElementById("close-menu");

      function showMenu() {
          let overlay = document.querySelector(".overlay");
          overlay.classList.add("show-menu");
      }
      openMenu.onclick = showMenu;

      function hideMenu() {
          let overlay = document.querySelector(".overlay");
          overlay.classList.add("show-menu-hiding");
          overlay.classList.remove("show-menu");
          const removeClass = () => {
              setTimeout(function() {overlay.classList.remove("show-menu-hiding"); }, 1200);
          }
          removeClass();
          

      }
      let listHome = document.getElementById("home");
      let listAbout = document.getElementById("about");
      let listProjects = document.getElementById("projects");
      let listContact = document.getElementById("contact");

      listHome.onclick = hideMenu;
      listAbout.onclick = hideMenu;
      listProjects.onclick = hideMenu;
      listContact.onclick = hideMenu;


      closeMenu.onclick = hideMenu;

  
      function toUserPage() {
        window.location.href = "/users/<%= current_user.id if current_user %>/edit";
      }

      let userLogo = document.getElementById("user-logo");
      userLogo.onclick = toUserPage;

      function toCart() {
        window.location.href = "/users/<%= current_user.id if current_user %>/cart";
      }

      let shoppingCart = document.getElementById("shoppingcart");
      shoppingCart.onclick = toCart;
      

  </script>
 
</html>
